### Assignment 9

**Q.1.** Write an SQL query to show the top n (say 10) records of a table.

**Ans:-**
```python
SELECT TOP 10 * FROM Worker; #Top Keyword is not supported by Many Popular Databases  
SELECT * FROM Worker LIMIT 10;
```

**Q.2.** Write an SQL query to determine the nth (say n=5) highest salary from a table.

**Ans:-**
```python
SELECT DISTINCT(Salary) FROM Worker ORDER BY DESC LIMIT 1 OFFSET 5;
```